<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250363232703-a75v7r92p21soq4eep3k1cupmb499d2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250363232703-a75v7r92p21soq4eep3k1cupmb499d2h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>250363232703-fk9e2k1r42tusjdevld1a5op2delp8qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRGRzJNMdmyFB8pr0XTRN9_x6QMhnzoto</string>
	<key>GCM_SENDER_ID</key>
	<string>250363232703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serv.booking</string>
	<key>PROJECT_ID</key>
	<string>tablebooking-2b713</string>
	<key>STORAGE_BUCKET</key>
	<string>tablebooking-2b713.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250363232703:ios:803d35321fce707314610a</string>
</dict>
</plist>